html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    border-collapse: collapse;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div{
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    padding-left: 325px;
}

caption{
    position: absolute;
    left: 0;
    top: -23px;
    font-size: 2rem;
    border-bottom: 2px solid purple;
    color: purple;
}
table {
    position: relative;
    width: 80%;
    
}

tr:first-child td{
    font-weight: bold;
    font-size: 1.1rem;
    border-top: 2px solid rgba(163, 163, 163, 0.671);
    padding: 10px 10px;
}

tr:last-child td{
    border-bottom: 2px solid rgba(163, 163, 163, 0.671);
}

.icon-select{
    font-size: 4rem;
    font-weight: 300;
    color: rgb(163, 163, 163);
}

td{
    border-top: 1px solid rgba(163, 163, 163, 0.671);
    border-bottom: 1px solid rgba(163, 163, 163, 0.671);
    
}



td:first-child{
    text-align: center;
    padding-left: 10px;
}

td:nth-child(2){
    text-align: center;
    padding-left: 10px;
    
}

td:nth-child(3){
    text-align: start;
    padding-left: 20px;
}
td:nth-child(4){
    text-align: start;
    padding-left: 20px;
}

td:nth-child(5){
    text-align: end;
    padding-left: 20px;
}

td:nth-child(6){
    text-align: end;
    padding-left: 20px;
}

td:nth-child(7){
    text-align: start;
    padding-left: 20px;
}

td:nth-child(8){
    text-align: end;
    padding-left: 20px;
}

.avatar{
    width: 50px;
    border-radius: 50px;
    border: 1px solid rgb(163, 163, 163);
}

.satisfaction{
    width: 2rem;
    padding-right: 5px;
}

button{
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 4rem;
    color: rgb(163, 163, 163);
    padding: 0;
    margin: 0;  
}
@media only screen and (min-width: 325px) {
    div{
        overflow-x: auto;
        padding-left: 325px;
    }
  }

@media only screen and (min-width: 400px) {
    div{
        overflow-x: auto;
        padding-left: 250px;
    }
  }
  @media only screen and (min-width: 500px) {
    div{
        overflow-x: auto;
        padding-left: 150px;
    }
  }

  @media only screen and (min-width: 640px) {
    div{
        overflow-x: auto;
        padding-left: 0px;
    }
  }